$linear-color: linear-gradient(rgb(87, 87, 87), rgb(119, 119, 119), rgb(87, 87, 87));
$lighter-linear: linear-gradient(rgb(133, 133, 133), rgb(153, 153, 153), rgb(134, 134, 134));
$box-shadow: 5px 3px 12px -3px rgba(0,0,0,0.75);
$line-shadow: -1px 24px 15px 16px rgba(0,0,0,0.29);